

div,input,textarea {
    box-sizing: border-box;
}



body {
    margin: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}

.profile {
    width: 150px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.name-top {
    text-align: center; 
    margin-bottom: 50px;
}

.content {
    text-align: center; 
}

.box {
    width: 100px;
    background-color: cadetblue;
    margin: 10px;
    padding: 40px;
    border-radius: 15px;
    margin-left: auto; 
    margin-right: auto;
    font-size: 10px;
    color: white;
    box-shadow: 5px 5px black;
}
.container {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 100%;
    height: 20px;
    
}

/*    왼쪽 스타일링 하는 부분   */
.left-menu {
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    display: inline-block;
    vertical-align: top;
}

/*    오른쪽 스타일링 하는 부분   */
.right {
    width: 25%;
    float: right;
    background: white;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: grey;
}

.left-content {
    width: 75%;
    float: left;
    background: white;
}

.right-img {
    width: 100%;
}

.left-profile {
    width: 100%;
}

.l-p {
    padding-left: 10px;
    width: 50px;
    float: left;
}

.l-name {
    font-size: 20px;
    color: grey;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 1px;
    
}

.l-time {
    
}

.c-title {
    padding-left: 10px;
}

.l-s {
    float: right;
}

.c-content {
    color: grey;
    padding: 10px;
    padding-top: 1px;
}

.blog-img {
 
    width: 20%;
    height: 200px;
    background: yellow;
    float: left;
}

.blog-content {
    width: 80%;
    height: 200px;
    float : left;
}

.blog-profile {
    width: 50px;
    float: left;
    display: block;
}

.blog-name {
    float: left;
}

.navbar li{
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #9999;
    padding: 10px;
    border-radius: 50px;
}

.navbar a{
    font-size: 16px;
    text-decoration: none;
    color: #000;
    
}

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    color: white;
    text-align: center;
    position: relative;
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 230px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.main-sale-copy {
    width: auto;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 50px;
}

.main-button {
    width: 120px;
    height: 50px;
    margin-left: 50px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: dimgrey;
}

.main-button2 {
    width: 120px;
    height: 50px;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: dimgray;
}



.main-button3 {
    padding: 15px;
    font-size: 20px;
    background:  black;
    border: none;
    border-radius: 5px;
    position: absolute;
    color: yellow;
    bottom: 20;
    left: 0;
    right: 0;
    margin: auto;
    width: 150;
}

.sub-background {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: grey;
    position: relative;
    top: -50px;
}



input[type=emaixl] {
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.f-n {
    width: %;
    float: left;
}

.message {
    width: 100%;
    padding: 8px;
    border-radius: 7px;
    border-color: lightgrey;
}

.contact-us-main {
    width: 500px;
    padding: 50px;
}

.send-button {
    margin-top: 10px;
    background-color: darksalmon;
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 150;
    color: white;
    float: right;
}

.sub-checkbox {
    margin-top: 10px;
    width: auto;
    float: left;
}

.sub-sub {
    margin-top: 10px;
    float: left;
}

.email-1 {
    width: 100%;
    padding: 8px;
    border-radius: 7px;
    border-color: lightgrey;
}

.f-n-c {
    width: 100%;
    padding: 8px;
    border-radius: 7px;
    border-color: lightgrey;
}

.l-n {
    width: 45%;
    float:left;
    margin-left: 20px;
}

.f-n-c-d {
    width: 100%;
    padding: 8px;
    border-radius: 7px;
    border-color: lightgrey;
}

.f-l-n {
    width: 100%;
}

.form-background {
    background-color: black;
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    width:100%;
    padding: 10px;
}

.form-long {
    height: 100px;
}

.yellow-button {
    padding: 10px;
    width: 100px;
    display:  block;
    margin-left: auto;
    background-color: yellow;
    border: none;
}

td, th {
/*    border: 1px solid black;*/
}

.cart-table td,.cart-table th {
    padding: 15px;
    border-bottom: 1px solid #c2d3de;
}


table {
    border-collapse: collapse;
}

.camera-button {
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: darkslateblue;
    color: white;
    border: none;
    float: right;
}

.camera-cart1 {
    width: 100%;
    padding: 40px;
    background-color: cornflowerblue;
}

.title-cart {
    font-size: 20px;
    color: darkblue;
    margin-bottom: 30px;
}

.table-content12 {
    background-color: white;
    border-radius: 5px;
    width: 100%
}

.thead-title1 {
    text-align: center;
    font-size: 10px;
}

.camera-long1 {
    float:left;
    padding: 20px;
}



.edit-12 {
    float: left;
}

.last-edit-12 {
    margin-top:20px;
}

.cart-background {
    width: 100%;
    background: #c2e3de;
    padding: 30px;
}

.cart-table {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.cart-table th:nth-child(2) {
    width: 400px;
}

.cell-long {
    width: 700px;
}





.choose-button-bottom {
    float: right;
    width: 200px;
    height: 50px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.choose-button-bottom:hover {
    background-color: deepskyblue;
}

.choose-button-bottom:focus {
    background-color: chocolate;
}

.choose-button-bottom:active {
    background-color: brown;
    border: 2px solid black;
}



.bottom-a-b {
    margin-top: 15px;
}

.input-test {
    font-size: 20px;
}

.input-test:focus {
    border-bottom: 4px solid red;
}

.custom-link {
    text-decoration: none;
}

.custom-link:link {
    color: forestgreen;
}

.custom-link:visited {
    color: black;
}

.font-small {
    font-size: 12px;
}

.font-mid {
    font-size: 16px;
}

.font-lg {
    font-size: 20px;
}

.main-btn {
    margin-top: 20px;
    margin-left: 20px;
    padding: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 9px;
}

.bg-red {
    background: red;
}
.bg-red:hover {
    background: grey;
}


.bg-blue {
    background: blue;
}
.bg-blue:hover {
    background: black;
}


h1 {
    font-family: 'Noto Sans KR', sans-serif;
}

.flex-item {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 5px;
}

.flex-container {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.flex-container2 {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.flex-item2 {
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: salmon;
}

.flex-logo-1 {
    padding-left: 30px;
    color: white;
}

.flex-menu-1 {
    padding-top: 20px;
    padding-right: 30px;
    text-align: right;
    color: white;
}

.nav-container {
    display: flex;
    height: 40px;
    align-items: center; 
    padding: 5px;
}

.nav-item {
    margin-right: 10px;
}

.product-container {
    width: 80%;
    max-width: 800px;
    margin: auto;
    margin-top:50px;
    margin-bottom: 50px;
}

.product-container div {
    float: left;
    width: 25%;
    text-align: center;
}




@media screen and (max-width: 1200px){
    .main-title{
        font-size:30px;
    }
    .nav-item{
        font-size: 12px;
    }
    .product-container div {
        width: 50%;
    }
    .product-container {
        max-width: 600px;
    }
}

@media screen and (max-width: 768px){
    .main-title{
        font-size:20px;
    }
    .nav-item{
        font-size: 10px;
    }
    .product-container div {
        width: 100%;
    }
}






.product-container i {
    margin-top: 10px;
    background-color:coral;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    color: white;
}

.shop-bg {
    background: grey;
    padding: 20px;
}

.shop-container {
    display: flex;
    width: 90%;
    margin: auto;
}

.shop-item {
    width: 33%;
    padding: 10px;
}

.shop-item img {
    width: 100%;
}

.landing-main {
    width: 100%;
    height: 400px;
    background: linear-gradient(blue, pink);
    display: flex;
}

.landing-image-1 {
    margin-left:200px;
    margin-top: 74px;
    width: 300px;
}

.landing-image-phone {
    width: 100%;
}

.landing-main-contents {
    margin-top: 80px;
    margin-left: 120px;
    color: white;
}

.landing-main-btn {
    width: 120px;
    height: 40px;
    background-color: dimgray;
    color: white;
    border: none;
    border-radius: 5px;
}

.landing-2nd-btn {
    background-color: dimgray;
    width: 150px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 6px;
}

.landing-2nd-sec {
    width:100%;
    text-align: center;
    padding: 50px;
}

.landing-3rd-title {
    text-align: center;
    color: white;
    padding: 30px;
}

.landin-3rd {
    width: 100%;
    height: 350px;
    background-color: royalblue;
}

.landing-3rd-content {
    width: 25%;
    color: white;
    text-align: center;
}

.landing-3rd-cnts {
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: flex;
}

.l-3-c-r {
    background-color: white;
    width: 110px;
    height: 110px;
    border-radius: 100px;
    margin: auto;
}

.aadd {
    margin-top: 25px;
    margin-left: 6px;
}

.aadd2 {
    margin-top: 30px;
    margin-left: 3px;
 
}

.aadd3 {
    margin-top: 30px;
}

.l-3-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.l-4-t {
    text-align: center;
    width: 100%;
    padding: 50px;
}

.l-5-1st {
    padding: 50px;
    width: 100%;
    height: 300px;
    color: white;
    background-image: url(../img/portfolio-1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.l-5 {
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: flex;
}

.l-5-2nd {
    padding: 50px;
    width: 100%;
    height: 300px;
    color: white;
    background-image: url(../img/portfolio-2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.l-5-3rd {
    padding: 50px;
    width: 100%;
    height: 300px;
    color: white;
    background-image: url(../img/portfolio-3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.l-5-4th {
    padding: 50px;
    width: 100%;
    height: 300px;
    color: white;
    background-image: url(../img/portfolio-4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.l-6 {
    width: 100%;
    max-width: 235px;
    margin: auto;
    margin-top:50px;
    margin-bottom: 5px;
    display: flex;
}



.asd2 {
    
}



.l-6-logo {
    margin: 5px;
    padding: 35px;
    width: 40px;
    height: 40px;
    background-color: cornflowerblue;
    border-radius: 150px;
    color: white;
}

.asd1 {
    margin-top: -120px;
    margin-left: -14px;
}

.l-6-last {
    text-align: center;
    color: dimgray;
}
